/* GENERAL CSS */
html {
    height: 100%;
    scroll-behavior: smooth; 
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    
    flex-direction: column;
    height: 100%;
    font-family: 'Inter';
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding:0;
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.header{
    padding-top: 20px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.header-heading{
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.01em;  
    color: #192252;
    padding-bottom: 24px;
}
.header-logo{
    text-decoration: none;
    transition: 0.3s;
}
.header-logo:hover{
    opacity: 0.8;
}
.header-logo:active{
    opacity: 0.4;
}
.sitenav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.sitenav-item + .sitenav-item {
    margin-left: 32px;
}
.sitenav-link{
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
}
.button{
    padding: 12px 30px;
    transition: 0.2s;
    background: #0E1734;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    transition: 0.3s;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.4;
}



/* HERO-SECTION */
.hero{
    padding-bottom: 96px;
    padding-top: 96px;
    background-image: url(../img/moneygram-malaysia_425059858.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-box{
    max-width: 587px;
}
.hero-heading{
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.01em;  
    color: white;
    padding-bottom: 24px;
   
}
.hero-desc{
    margin: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: white;
    padding-bottom: 32px;
}







